ul(class='main__sidebar-order') Order:
    li(class='main__sidebar-order--alpha') Alphabetical
    li(class='main__sidebar-order--rating') Rating
ul(class='main__sidebar-filter') Filter:
    li(class='main__sidebar-filter--rating') Rating
    li(class='main__sidebar-filter--console') Console
        