ul(class='main__sidebar-order') Order:
    li(class='main__sidebar-order-alpha' id='title') Alphabetical
    li(class='main__sidebar-order-rating' id='overallRating') Rating
ul(class='main__sidebar-filter')
    div(class='main__sidebar-filter-alls') Default
        li(class='main__sidebar-filter-all' id='all') All
    div(class='main__sidebar-filter-ratings') Ratings
        li(class='main__sidebar-filter-rating' id=4) Above 4 ★
        li(class='main__sidebar-filter-rating' id=3) Above 3 ★
        li(class='main__sidebar-filter-rating' id=2) Above 2 ★
        li(class='main__sidebar-filter-rating' id=1) Above 1 ★
    div(class='main__sidebar-filter--consoles') Console
        each console in consoles
            li(class='main__sidebar-filter-console' id=`${console.name}`) #{console.name}
