each game in games
    div(class='main__games-info')
        img(class='main__games-img' src=`${game.imageHref}`)
        a(class='main__games-name' href=`/games/${game.id}`)=game.title
        p(class='main__games-body') #{game.description}