if req
		if req.session.user
			nav#authorizedUser
				div.navbar
					div.logo
						a(href='/') GoodGames
					div.games
						a(href='/games') Games
					div.mygames
						a(href='/mygames') My Games
					div.links
						span.signup_link
							form(action="/logout", method="post")
								input(class='logout' value='LogOut' type="submit")
		else
			nav#unauthorizedUser
				div.navbar
					div.logo
						a(href='/') GoodGames
					div.games
						a(href='/games') Games
					div.links
						span.signup_link
							a(href='/login') Login
						span /
						span.login_link
							a(href='/signup') SignUp
