mixin loadStars(numberOfStars, string)
  div=string
    div(class=`main__ratings-stars`)
      div(class=`main__ratings-stars-empty`)
      div(class=`main__ratings-stars-full` style=`width:${((numberOfStars/5).toFixed(1))*100}%`)

mixin createStars()
  div(class='main__game-ratings-add-stars')
    span(id='main__game-ratings-error' class='main__game--hidden') Please enter a rating!
    span(class='main__game-ratings-add-star5') ★
    span(class='main__game-ratings-add-star4') ★
    span(class='main__game-ratings-add-star3') ★
    span(class='main__game-ratings-add-star2') ★
    span(class='main__game-ratings-add-star1') ★