mixin field()
    div(class='main__sidebar-stars') Overall Rating:
        span(class='main__sidebar-star' id='star5') ☆
        span(class='main__sidebar-star' id='star4') ☆
        span(class='main__sidebar-star' id='star3') ☆
        span(class='main__sidebar-star' id='star2') ☆
        span(class='main__sidebar-star' id='star1') ☆