mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin createImg(game, string)
  if game.imageHref
      img(class=string src=`${game.imageHref}`)
  else
      img(class=string src=`/images/not-found.png`)