extends layout.pug

append head
    link(rel='stylesheet' type="text/css" href='/stylesheets/allgames.css')

block content
    div(class='main')
        div(class='main__organizer')
            ul(class='main__organizer-order') Order:
                li(class='main__organizer-order--alpha') Alphabetical
                li(class='main__organizer-order--rating') Rating
            ul(class='main__organizer-filter') Filter:
                li(class='main__organizer-filter--rating') Rating
                li(class='main__organizer-filter--console') Console
        div(class='main__games')
            ul(class='main__games-list')
                include includes/game-container.pug