extends layout

block content
    h1 This is Authorized
    div
        each game in games
            div
                div
                    img(src=game.imageHref)
                div
                    label #{game.title}
