extends layout.pug
append head
    link(rel="stylesheet", href="/stylesheets/errors.css")
    script(type="application/javascript" src='/js/errorScript.js')
block content
    div.errors
        div.errorHolder
            h1.tch Whoops! Look like something went wrong!
