extends layout.pug
append head
    link(rel="stylesheet", href="./stylesheets/errors.css")
block content
    div.errors
        div.errorHolder
            h1.tch Looks like you're lost friend
            br
            p=message
            form(action="/logout", method="post")
                input(class='logout' value='Return Home' type="submit")
