footer.footer
    nav.footernav
      div.contributions
        p This page brought to you by GoodGames Inc. along with RAWG API
        br
        p
        p
          ul.group2 Contributors:
            li: a(href="https://github.com/kpowers005") Kyle Powers
            li: a(href="https://github.com/brentarimoto") Brent Arimoto
            li: a(href="https://github.com/scrub1737") James Lentzsch
            li: a(href="https://github.com/jiezheng2020") Kevin Zheng
