footer.footer
    nav.footernav
      div.contributions
        p This page brought to you by GoodGames Inc. along with RAWG API
        div.group2 Contributors:
          div
            a(href="https://www.linkedin.com/in/kyle-powers-63739b133/") Kyle Powers
            a(href="https://github.com/kpowers005")
              i(class="fab fa-github" aria-hidden="true")
            a(href="https://www.linkedin.com/in/kyle-powers-63739b133/")
              i(class="fab fa-linkedin" aria-hidden="true")
          div
            a(href="https://brentarimoto.github.io/") Brent Arimoto
            a(href="https://github.com/brentarimoto")
              i(class="fab fa-github" aria-hidden="true")
            a(href="https://www.linkedin.com/in/brent-arimoto/")
              i(class="fab fa-linkedin" aria-hidden="true")
          div
            a(href="https://www.linkedin.com/in/jameslentzsch/") James Lentzsch
            a(href="https://github.com/lentzsch")
              i(class="fab fa-github" aria-hidden="true")
            a(href="https://www.linkedin.com/in/jameslentzsch/")
              i(class="fab fa-linkedin" aria-hidden="true")
          div
            a(href="https://kevv.me/") Kevin Zheng
            a(href="https://github.com/jiezheng2020")
              i(class="fab fa-github" aria-hidden="true")
            a(href="https://www.linkedin.com/in/kevin-zheng-1387a7138/")
              i(class="fab fa-linkedin" aria-hidden="true")
