doctype html
html(lang="en" class="splashpage")
	head
		block head
			meta(charset="UTF-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width initial-scale=1.0")
			link(rel='stylesheet', href='../stylesheets/imports/reset.css')
			link(rel="icon" type="image/png", sizes="32x32", href="../android-chrome-512x512.png")
			link(rel="icon" type="image/png", sizes="16x16", href="../favicon-16x16.png")
			link(rel="manifest", href="../site.webmanifest")
			link(rel='stylesheet', href='../stylesheets/imports/navbar.css')
			link(rel='stylesheet', href='../stylesheets/footer.css')
			link(rel="preconnect" href="https://fonts.gstatic.com")
			link(href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet")
			title #{title}
	body(class= 'home')
		include includes/navbar.pug
		block content
		include footer.pug
