extends layout.pug
include includes/utils.pug

append head
    link(rel='stylesheet' href='./stylesheets/login.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")


block content
    div(class="main__login-container")
        form(class="form__login" ,action="/login", method="post")
            div(class="sub__login-container")
                h1.head__login Log In
                div(class="form__login-container")
                    div
                        div(class='form__login-labels')
                            label Username
                        input(type="text", placeholder="username", name="userName", required)
                    div
                        div(class='form__login-labels')
                            label Password
                        input(type="password", placeholder="password", name="password", required)
                div(class="buttons_container")
                button(type="submit" class='login-btn') Login
            div(class="login-errors")
                +validationErrorSummary(errors)
