extends layout.pug

append head
    link(rel='stylesheet' type="text/css" href='/stylesheets/allgames.css')

block content
    div(class='main')
        div(class='main__sidebar')
            ul(class='main__sidebar-libraries') Libraries:
                li(class='main__sidebar-library--all') All
                li(class='main__sidebar-library--played') Played
                li(class='main__sidebar-library--playing') Currently Playing
                li(class='main__sidebar-library--not-played') Want to Play
                each library in libraries 
                    div(class="main__sidebar")
                        //- li(class='main__sidebar-library--user-library') #{library.name}
                        a(class="main__sidebar-library-link" href=`/mygames/libraries/${library.id}`) #{library.name}
            div(class='main__sidebar')
                form(action="/mygames/libraries/add", method="post")
                    h3 Add new library:
                    div(class="form__container")
                        input(type="text", name="name", placeholder="Library name", required)
                        button(type="submit") Add
            include includes/default-sidebar.pug
        div(class='main__games')
            ul(class='main__games-list')
                include includes/game-container.pug