extends layout.pug
include includes/utils.pug

append head
    link(rel='stylesheet' type="text/css" href='/stylesheets/allgames.css')
    script(type="application/javascript" src='/js/mygamesScript.js')
block content
    div(class='main')
        div(class='main__sidebar')
            ul(class='main__sidebar-libraries') Libraries:
                li(class='main__sidebar-library' name="all")
                    a(class="main__sidebar-user-library-link", href="/mygames/all") All
                li(class='main__sidebar-library' name='played')
                    a(class="main__sidebar-user-library-link"  href="/mygames/2") Played
                li(class='main__sidebar-library' name='playing') 
                    a(class="main__sidebar-user-library-link"  href="/mygames/1") Currently Playing
                li(class='main__sidebar-library' name='not-played')
                    a(class="main__sidebar-user-library-link"  href="/mygames/0") Want to Play
                //- div(class="main__sidebar")
                each library in libraries
                    li(class='main__sidebar-user-library' name=`${library.name}`)
                        a(class="main__sidebar-user-library-link" href=`/mygames/libraries/${library.id}`) #{library.name}
            div(class='main__sidebar-add-library')
                form(action="/mygames/libraries/add", method="post")
                    h3 Add new library:
                    div(class="form__container")
                        input(type="text", name="name", placeholder="Library name", required)
                        button(class="main__sidebar-add-library-button" type="submit") Add
            include includes/default-sidebar.pug
        div(class='main__games')
            ul(class='main__games-list')
                include includes/game-container.pug