extends layout.pug
append head
    link(rel="stylesheet", href="./stylesheets/errors.css")
    script(type="application/javascript" src='/js/errorScript.js')
block content
    div.errors
        div.errorHolder
            h2.errors__message1
            h2.errors__message2
