extends layout.pug
append head
    link(rel="stylesheet", href="./stylesheets/errors.css")
block content
    div.errors
        div.errorHolder
            h1.tch The page you are looking for could not be found
            br
            a(href='/') Return Home
