extends layout.pug
include includes/utils.pug

append head
    link(rel='stylesheet', href='./stylesheets/home-page.css')
    script(type="application/javascript" src='/js/demo.js')
block content
    div
        form(action="/login" method='post')
            input(name='userName' type='hidden' value='DemoUser' class='demoForm')
            input(name='password' type='hidden' value='demoTime' class='demoForm')
            button(id='demoUser' type='submit') Demo
        h1.home__welcome Welcome to Good Games
        h3.gamesofthemonth Games of the month:
        div.home__background
            div#top10
                each game in games
                    div.home__imagecontainer
                        div.home__images
                            a(href=`/games/${game.id}`)
                                +createImg(game, 'home__img')
                            div.image_writing
                                span.home__rating #{game.overallRating} / 5 ★
                                br
                                a(href=`/games/${game.id}` class='home__title')=game.title
