extends layout.pug
include includes/utils.pug

append head
    link(rel='stylesheet', href='./stylesheets/home-page.css')
block content
    div.background
        h1.welcome Welcome to Good Games
        main
            div#top10
                each game in games
                    div.imagecontainer
                        div.images
                            a(href=`/games/${game.id}`)
                                +createImg(game, 'img')
                                a(href=`/games/${game.id}`)=game.title
