/********* Imports *********/
@import "./imports/game-container.css";
@import "./imports/split-page.css";
@import "./imports/star-rating.css";
@import "./imports/add-star-rating\(hover\).css";

/********* Main Section *********/
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    margin: 0px;
}

.main__sidebar ul{
    padding: 0px 3px;
    font-size: 20px;

}

.main__sidebar li{
    padding: 5px 10px;
    font-size: 18px;
    list-style: none;
    color: white;
    /* border: .5px solid grey; */
}

.main__sidebar-order,
.main__sidebar-filter-alls,
.main__sidebar-filter-ratings,
.main__sidebar-filter--consoles {
    color:cyan
}

.main__sidebar li:hover{
    text-decoration: underline;
    cursor: pointer;
    color:darkcyan;
    /* background: grey; */
    background-color: rgba(0, 0, 0, 0.1);
}


/********* Games Section *********/

.main__games-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.main__games-pages{
    justify-content: center;
    margin: 20px;
    display: flex;
    align-items: center;
    height: 45px;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.main__games-page{
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 35px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
}

.main__games-page--current{
    transform: scale(1.2);
    transition-duration: .2s;
    /* background-color: #DFDFE5; */
    background-color: rgba(0, 0, 0, 0.1);
}


.main__games-page:hover{
    cursor:pointer;
    transform: scale(1.2);
    transition-duration: .2s;
}