/********* Imports *********/
@import "./imports/game-container.css";
@import "./imports/split-page.css";

/********* Main Section *********/

.main__sidebar ul{
    padding: 0px 3px;
    font-size: 20px;

}

.main__sidebar li{
    padding: 5px 10px;
    font-size: 18px;
    list-style: none;
    color: blue;
    /* border: .5px solid grey; */
}

.main__sidebar li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: white;
    background: grey;
}


/********* Games Section *********/

.main__games-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}
