body {
  min-height: 100vh;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.splashpage {
  display: grid;
  background: url("../images/background-4.jpg");
  background-size: cover;
  opacity: 0.9;
}
.main__authorized {
  height: 100vh;
}
.hero__authorized {
  height: 400px;
  background: url("../images/authorized-background.jpg");
  background-size: cover;
  margin-bottom: 50px;
}
.welcome__authorized {
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: -120px;
  font-size: 70px;
  color: rgb(255, 255, 255);
}

.recommendations__authorized-block {
  display: grid;
  justify-content: center;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.recommendations__authorized {
  display: grid;
  grid-template-columns: 0.46fr 0.54fr;
}

.textbox__authorized {
  width: 600px;
  height: 500px;
  display: grid;
  grid-template-rows: auto;
  background-color: rgb(36, 36, 36);
  opacity: 0.95;
}

.text__authorized {
  justify-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
  height: 15px;
}

.borders__authorized {
  border-top: solid black;
  border-width: thin;
  display: grid;
}

.gamestext__authorized {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  display: flex;
  color: white;
  margin-left: 15px;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  width: 100%;
}

.gamestext__authorized:hover {
  font-weight: bold;
}

img.auth_img {
  width: 725px;
  height: 500px;
  object-fit: cover;
}
.display__authorized {
  height: 500px;
  width: 725px;
  display: flex;
}

.fadein img.auth_img {
  position: absolute;
  margin: 0;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 32s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  6% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#f1 {
  animation-delay: 0s;
}
#f2 {
  animation-delay: 4s;
}
#f3 {
  animation-delay: 8s;
}
#f4 {
  animation-delay: 12s;
}
#f5 {
  animation-delay: 16s;
}
#f6 {
  animation-delay: 20s;
}
#f7 {
  animation-delay: 24s;
}
#f8 {
  animation-delay: 28s;
}
