body{
  background-image: url("/images/background-9.png");
}

.errors{
  margin: auto;
}

.errorHolder{
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
}

.errors__message1,
.errors__message2,
.tch
{
  text-align: left;
  color: white;
  padding: 20px;
}
