.errors
{
  display: flex;
  background-color: navy;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.errorHolder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
}
.tch
{
  text-align: center;
  color: white;
}
