.footer {
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  opacity: 0.8;
  height: 45px;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  background: linear-gradient(rgb(12, 12, 12), black);
  z-index: 100;
  scroll-snap-align: initial;
}

.contributions {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.group2 > li {
  text-decoration: none;
  display: inline;
  padding: 0 4px;
}

.group2 {
  margin-top: 15px;
  order: 2;
}

.group2 a {
  padding-right: 12px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.group2 a:hover {
  font-weight: bold;
}
