body {
  min-height: 100vh;
  padding-bottom: 50px;
}
.home {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.splashpage {
  background-size: cover;
  background-image: url("../images/action2.png");
}
.welcome {
  color: goldenrod;
  text-shadow: rgb(107, 81, 15) 3px 3px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 3em;
  text-transform: uppercase;
}

.background{
  display: flex;
  justify-content: center;
}

#top10 {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  row-gap: 10px;
  justify-items: center;
}

.gamesofthemonth
{
  font-size: 1.2em;
  color: whitesmoke;
  text-align: center;
}

.images {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.imagecontainer {
  height: 180px;
  width: 150px;
  border: black 2px solid;
  border-radius: 20px;
  box-sizing:border-box;
  background-color:rgba(100, 100, 100, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 100px;
  width: 100px;
  image-rendering: optimizeQuality;
  object-fit: cover;
}

.rating{
  color: gold;
}

.title{
  text-decoration: none;
  color: black;
}

.image_writing{
  text-align: center;
  box-sizing: border-box;
}

.image_writing > a:hover{
  font-weight: bold;
}
