*{
  font-family: "Oswald", sans-serif;
}


body {
  min-height: 100vh;
  padding-bottom: 50px;
}
.home {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px;
}

.splashpage {
  /* animation: ; */
  background-size: cover;
  background-image: url("../images/action2.png");
}
.home__welcome {
  color: whitesmoke;
  text-shadow: rgb(107, 81, 15) 3px 3px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

.home__background{
  display: flex;
  justify-content: center;
  align-content: center;
}

#top10 {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  row-gap: 10px;
  justify-items: center;
  border: transparent 1px solid;
  background-color:rgba(100, 100, 100, 0.7);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.5);
}

.gamesofthemonth
{
  font-size: 1.2em;
  color: whitesmoke;
  text-align: center;
}

.home__images {
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}



#demoUser:hover
{
  cursor: pointer;
}

.home__imagecontainer {
  height: 180px;
  width: 150px;
  border: rgba(0, 0, 0, 0.5) 2px solid;
  border-radius: 20px;
  box-sizing:border-box;
  background-color:rgba(100, 100, 100, .8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__img {
  height: 100px;
  width: 100px;
  image-rendering: optimizeQuality;
  object-fit: cover;
}

.home__rating{
  color: gold;
}

.home__title{
  text-decoration: none;
  color: white;
}

.image_writing{
  text-align: center;
  box-sizing: border-box;
}

.image_writing > a:hover{
  font-weight: bold;
}


.demoForm{
  display: none;
}
