body {
  background-image: url("../images/996774.jpg");
  background-size: cover;
  margin: 0px;
}

.main__login-container {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 0, 0);
}

.form__login {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

h1.head__login {
  margin-top: 50px;
  margin-bottom: 0;
  color: white;
  font-size: 40px;
  font-weight: normal;
}

.sub__login-container {
  margin: auto;
  margin-top: 200px;
  width: 550px;
  border-radius: 30px;
  background-color: rgb(43, 43, 43);
  opacity: 0.95;
}

.form__login-container {
  font-size: 15px;
  padding: 25px;
  display: flex;
  margin: auto;
  width: 300px;
  flex-direction: column;
}

.form__login-labels {
  margin-top: 5px;
  color: white;
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: thin;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  text-align: left;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  display: block;
  box-shadow: none;
  font-weight: normal;
  color: #e9e9e9;
  background-color: #32353c;
  outline: none;
  border: 1px solid #26282d;
  width: 100%;
  font-size: 20px;
}

.buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn {
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, rgb(74, 147, 255), rgb(9, 97, 211));
  color: white;
  padding: 10px 50px;
  opacity: 0.9;
  margin-top: 10px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: opacity 0.5s;
  width: 150px;
}

.login-btn:hover {
  opacity: 1;
  background: linear-gradient(rgb(74, 147, 255), rgb(55, 142, 255));
}

.login-errors {
  display: flex;
  justify-content: center;
}
.alert.alert-danger {
  margin: 20px 0;
  padding: 0px 25px 20px 25px;
  color: white;
  font-weight: normal;
  background-color: red;
  opacity: 0.8;
  border-radius: 20px;
  width: 500px;
}
