<<<<<<< HEAD
.navheader
{
  border:rgb(10, 8, 8) 1px solid;
  margin-bottom: 5px;
  padding: 10px;
  height: auto;
  width: auto;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: black;
  opacity: 0.4;
=======
.navheader {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0px;
  background: linear-gradient(rgb(0, 0, 0), rgb(66, 66, 66));
  opacity: 0.9;
>>>>>>> main
  z-index: 100;
}

.navbar a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: grid;
  color: white;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 8px;
  padding-right: 20px;
}

.games {
  text-align: center;
  font-size: 1.1em;
  grid-column: 2/3;
}

.mygames {
  text-align: center;
  font-size: 1.1em;
  grid-column: 3/4;
}

.mygames:hover,
.games:hover {
  font-weight: bold;
}

.links {
  font-size: 1.1em;
  grid-column-start: end;
}

.logo {
  padding-top: 3px;
  padding-left: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  justify-self: flex-start;
  font-style: italic;
  font-size: 1.3em;
<<<<<<< HEAD
  padding-right: 3px;
}

.signup_link {
  margin-right: 3px;
=======
>>>>>>> main
}

.signup_link:hover,
.login_link:hover {
  font-weight: bold;
}

<<<<<<< HEAD
.login_link {
  margin-left: 3px;
=======
.logout {
  background: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 17.6px;
  border: none;
  color: #ffffff;
  cursor: pointer;
>>>>>>> main
}

.logout {
  font-family: "Oswald", sans-serif;
  background: none;
  font-size: 21px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
