.navheader {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0px;
  background: linear-gradient(rgb(0, 0, 0), rgb(66, 66, 66));
  opacity: 0.9;
  z-index: 100;
}

.navbar a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: grid;
  color: white;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 8px;
  padding-right: 20px;
}

.nav__games {
  text-align: center;
  font-size: 1.1em;
  grid-column: 2/3;
}

.nav__mygames {
  text-align: center;
  font-size: 1.1em;
  grid-column: 3/4;
}

.nav__mygames:hover,
.nav__games:hover {
  font-weight: bold;
}

.nav__links {
  font-size: 1.1em;
  grid-column-start: end;
}

.nav__logo {
  padding-left: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  justify-self: flex-start;
  font-style: italic;
  font-size: 1.3em;
}

.signup_link:hover,
.login_link:hover {
  font-weight: bold;
}

.nav__logout {
  font-family: "Oswald", sans-serif;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.1em;
}
