.navheader
{
  border:rgb(10, 8, 8) 1px solid;
  margin-bottom: 5px;
  padding: 10px;
  height: auto;
  width: auto;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: black;
  opacity: 0.4;
  z-index: 100;
}

.navbar  a
{
  text-decoration: none;
  color: white;
}
.navbar
{
  display: grid;
  color: white;
  grid-template-columns: repeat(12, 1fr);
}

.games
{
  text-align: center;
  font-size: 1.1em;
  padding-top: 5px;
  grid-column: 2/3;
}

.mygames
{
  text-align: center;
  font-size: 1.1em;
  padding-top: 5px;
  grid-column: 3/4;
}

.mygames:hover,
.games:hover
{
  font-weight: bold;
  /* background-color: thistle; */
}

.links
{
  font-size: 1.1em;
  padding-top: 5px;
  grid-column-start: end;
}


.logo
{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  justify-self: flex-start;
  font-style: italic;
  font-size: 1.3em;
  padding-right: 3px;
}

.signup_link
{
  margin-right: 3px;
}

.signup_link:hover,
.login_link:hover
{
  font-weight: bold;
}


.login_link
{
  margin-left: 3px;
}
